<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
</head>
<body>
    <h1 style="color: Blue;">Hi there, welcome to my page</h1>
    <h1 style="background-color: Blue;">Here are some facts about me: </h1>
    <h1>My name is Jared</h1>
    <h1>Here is my picture: </h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/5/56/Donald_Trump_official_portrait.jpg" alt="Not my president" style="width:100px;height:100px;">
    <h1>My hobbies include:</h1>
    <h4>Playing Tennis</h4>
    <h4>Learning PYthon</h4>
    <h1>My skills are:</h1>
    <h4>Learning Python</h4>
    <h4>Talking to people</h4>
</body>
</html>